@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
#root > div {
	height: 100%;
	width: 100%;
	font-family: 'Inter';
}

span {
	/* font-family: 'Inter'; */
	font-weight: 700;
}
